
.cart{
    display:flex;
    justify-content: center;
    column-gap:100px;
    height:600px;
}
.cart section{
    width:500px;
    text-align: left;
}
.cart section div{
    padding:20px;
    border:1px solid gray;
}

