.shop-all-wrapper{
    width:80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:70px;
}
.card{
    padding: 20px;
    border: 2px solid rgb(255, 233, 235);
}
.card #btn-wrapper{
    display: flex;
    justify-content: space-around;
}
.item-img{
    width:100%;
}
.produkt-img{
    width: 20%;
}
.item-info{
    display: flex;
    justify-content: center;
    gap:20px;
}
.item-info p {
    line-height: 0;
}
.button{
    border-radius: 10px;
    padding:15px;

}
.btn{
    height:fit-content; 
    margin-left: 5px;
}
.btn, select{
    color: white;
    border:none;
}
.button,
.button *{
    background-color: black;
    cursor: pointer;
}

.buttonprodukt {
    padding: 10px;
}
.button:hover, 
.button:hover *,
.button *:hover{
    background-color: rgb(46, 46, 46);
}
.added-item-validation{
    height:20px;
}
.added-item-validation p{
    margin: auto;
    color: #C9184A;
}
.hide{
    display: none;
}
